{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="text-center">
    <h1 class="display-2">Make Move In</h1>
    <p class="form-errors">{{ form.errors|striptags }}</p>
  </div>
  <div id="root"></div>
  <div class="row text-center form-group">
    <div class="col">
      <button id="id_redirect" name="redirect" class="btn btn-primary btn-lg" value="" onClick="changeRedirect()">Submit and Add</button>
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary btn-lg" value="Submit"/>
    </div>
    <div class="col">
      <a href="{% url 'move-in' %}" class="btn btn-primary btn-lg">Clear Fields</a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <a href="{% url 'home' %}" class="btn btn-danger btn-lg">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_scripts %}
<script>
function changeRedirect() {
  document.getElementById('id_redirect').value = "Save and Add another one";
  return;
}
</script>
<script type="text/babel" src="{% static 'react/product_details.js' %}"></script>
<script type="text/babel">
$(document).ready(function () {
  $.ajax({
    url: '/ajax/products/',
    data: {
      'products': true
    },
    dataType: 'json',
    success: function (data) {
      console.log(data);
      ReactDOM.render(
        <ProductDetails products={data}/>,
        document.getElementById('root')
      );
    }
  });

});
</script>
{% endblock %}
