{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}
<form method="post" autocomplete="off">
  {% csrf_token %}
  {% if request.user.is_superuser %}
    <div class="text-center">
      <h3 class="display-3">Make A Move Out</h3>
    </div>
    {% if form.errors %}
    <div class="text-center">
      <p class="form-errors">{{form.errors|striptags}}.</p>
    </div>
    {% endif %}
    <div id="root"></div>
    <div class="text-center">
      <div class="btn-group">
        <a href="{% url 'inventario:move-out' %}" class="btn btn-warning btn-lg"><span style="color: white;">Clear Fields</span></a>
        <a href="{% url 'inventario:home' %}" class="btn btn-danger btn-lg">Cancel</a>
      </div>
    </div>
  {% else %}
    <div class="text-center">
      <h3 class="display-3">Movimiento de Productos o Desincorporacion</h3>
    </div>
    {% if form.errors %}
    <div class="text-center">
      <p class="form-errors">{{form.errors|striptags}}.</p>
    </div>
    {% endif %}
    <div id="root"></div>
    <div class="text-center">
      <div class="btn-group">
        <a href="{% url 'inventario:move-out' %}" class="btn btn-warning btn-lg"><span style="color: white;">Limpiar Campos</span></a>
        <a href="{% url 'inventario:home' %}" class="btn btn-danger btn-lg">Cancelar</a>
      </div>
    </div>
  {% endif %}
</form>
{% endblock %}

{% block extra_scripts %}
<script>
  let en = JSON.parse('{{is_superuser}}');
  function changeRedirect() {
    console.log('redirecting');
    document.getElementById('id_redirect').value = "Save and Add another one";
    return;
  }
  </script>
<script type="text/babel" src="{% static 'react/move_out_control.js' %}"></script>
<script type="text/babel">
  ReactDOM.render(
    <MoveOut
      move_out_url={'{% url "inventario:move-out" %}'}
      locations={JSON.parse('{{ locations | escapejs }}')}
      products={JSON.parse('{{ product_class | escapejs }}')}
      reasons={JSON.parse('{{ reasons | escapejs }}')}
      admin_users={JSON.parse('{{ admin_users | escapejs }}')}
      retrieving_users={JSON.parse('{{ retrieving_users | escapejs }}')}
      current_user={JSON.parse('{{ current_user | escapejs }}')}
    />,
    document.getElementById('root')
  );
</script>
{% endblock %}
