{% extends 'base.html' %} 
{% load staticfiles %} 


{% block content %}
<br />
<div class="row">
    <div class="col-12">
        Esta seguro que desea eliminar:
        <br/>
        <i>"{{ object.product }} | <strong></strong>Cantidad:</strong>  {{ object.amount }} | {{ object.date }}"</i>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <form action="" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Si, Eliminar</button>
        </form>
    </div>
</div>
{% endblock %}