{% extends 'inventario/layout.html' %} 
{% load staticfiles %} 
{% block content %}

<h2 class="text-center"> Employee Control By Date </h2>
<br />
<form id="form" method="post">
    {% csrf_token %}
    <!-- Informacion Personal -->
    <div class="text-center form-group row">
        <div class="col">
            <label for="id_employee"> ID del Empleado: </label>
            <select id="id_employee" name="employee">
                {% for emp in employee %}
                <option value="{{ emp.pk }}">
                    {{emp.employee_id}}: {{emp.name}} {{emp.last_name}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
            <label for="id_date"> Fecha De Nacimiento: </label>
            <input id="id_date" name="date" required type="date">
        </div>
    </div>
    <br />
    <div class="text-center row">
        <input class="col" type='submit' value='submit this shit nigga' />
    </div>
</form>
{{object_list}}
{% endblock %}