{% extends 'inventario/layout.html' %} 
{% load staticfiles %} 
{% block content %}

<h2 class="text-center"> Employee Control By Date </h2>
<h3 class="text-center"> Salida </h3>
<br />
<form id="form" method="post">
    {% csrf_token %}
    <!-- Informacion Personal -->
    <div class="text-center form-group row">
        <div class="col">
            <label for="id_control_in"> Salida: </label>
            <select id="id_control_in" name="control_in">
                {% for control in control_in %}
                <option value="{{ control.pk }}">
                    {{ control.product_class.name }}: {{ control.employee_control.employee.name }} 
                    {{control.employee_control.date}} - {{control.given}}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
            <label for="id_date"> Fecha De Salida: </label>
            <input id="id_date" name="date" required type="date">
        </div>

        <div class="col">
            <label for="id_taken"> Cantidad: </label>
            <input id="id_taken" name="taken" required type="number" min="1">
        </div>
    </div>
    <br />
    <div class="text-center row">
        <input class="col" type='submit' value='submit this shit nigga' />
    </div>
</form>
{{object_list}} 
{% endblock %}