{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}

{% if request.user.is_superuser %}
<h1 class="display-2 text-center">Reports Zone</h1>
{% else %}
<h1 class="display-2 text-center">Reportes</h1>
{% endif %}
<br>
{% if request.user.is_superuser %}
<!-- Cards Items -->
  <div class="row form-group text-center">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/general_report.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">General Report</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:general' %}">General</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/disposable-icon.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Disposable Report</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:disposable-product' %}">Disposable</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/date_reporte.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Date Report</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:date' %}">Date</a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row form-group text-center">
    <div class="col form-item">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/product_report.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Product Report</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:product' %}">Product</a>
        </div>
      </div>
    </div>

  <div class="col form-item">
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="{% static 'img/location_report.png' %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Location Report</h4>
        <a class="btn btn-primary btn-lg" href="{% url 'reporte:location' %}">Location</a>
      </div>
    </div>
  </div>
</div>

<!-- Cards Items -->
{% else %}
<!-- Cards Items -->
  <div class="row form-group text-center">
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/general_report.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Reporte General</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:general' %}">General</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/disposable-icon.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Reporte de Desechables</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:disposable-product' %}">Desechables</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/date_reporte.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Reporte Por Rango de Fecha</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:date' %}">Fecha</a>
        </div>
      </div>
    </div>

    <div class="col form-item">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/product_report.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Historico Del Producto</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:product' %}">Producto</a>
        </div>
      </div>
    </div>

    <div class="col form-item">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/location_report.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Reporte Por Localidad</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'reporte:location' %}">Lugar</a>
        </div>
      </div>
    </div>
  </div>
<!-- Cards Items -->
{% endif %}
{% endblock %}
