{% extends 'inventario/layout.html' %}

{% block content %}
<div class="row">
  <div class="col">
    <a class="btn btn-primary btn-lg" href="{% url 'create-product' %}">Create Product</a>
  </div>
  <div class="col">
    <a class="btn btn-primary btn-lg" href="{% url 'move-in' %}">Products In</a>
  </div>
  <div class="col">
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Login</a>
  </div>
  <div class="col">
    <a class="btn btn-primary btn-lg" href="{% url 'user-create' %}">User Create</a>
  </div>
</div>
{% endblock %}
