{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<br />

<h2 class="text-center"><strong> Recursos Humanos - SHA</strong></h2>

<br />
<!-- Cards Items -->
<div class="row form-group text-center">

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/employee.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Agregar Empleado</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'rrhh:employee-create' %}">Agregar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/employee-list.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Control de Empleados</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'rrhh:employee-list' %}">Listar</a>
        </div>
      </div>
    </div>

    <!--
    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/productIn.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Agregar Producto</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'rrhh:product-create' %}">Agregar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="{% static 'img/date_reporte.png' %}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Lista de Productos</h4>
          <a class="btn btn-primary btn-lg" href="{% url 'rrhh:product-list' %}">Listar</a>
        </div>
      </div>
    </div>
    -->

    <div class="col mt-3">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="{% static 'img/date_reporte.png' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Control de Productos por Empleados</h4>
            <a class="btn btn-primary btn-lg" href="{% url 'rrhh:employee-control-list' %}">Listar</a>
          </div>
        </div>
      </div>
  </div>
<!-- Cards Items -->
{% endblock %}