{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}
    <div class="text-center">
        <div class="text-center" style="margin-top: 1rem;">
          <a class="btn btn-danger btn-lg" href="{% url 'reporte:home' %}">Cancel</a>
          <button type="button" class="btn btn-info btn-lg" onclick="printReport()">Print</button>
        </div>

        <div id="print_div">
          <div class="text-center">
             <h2 class="display-4">Reporte General</h2>
             {% if request.user.is_staff %}
            <h4><strong>Stock Value: </strong>{{ general_value }}</h4>
            <br>

            <h6><strong>Warehouse Value: </strong>{{ wareHouse_value }} - <strong>Office Value: </strong>{{ office_value }} - <strong>Polar Value: </strong>{{ polar_value }}</h6>
            <br>
            <h6><strong>Maintenance Value: </strong>{{ mante_value }} - <strong>Disincorporated Value: </strong>{{ disposable_value }}</h6>
            {% endif %}
          </div>
          <br />
          <table class="table table-reponsive table-striped">
            <thead id="id_general" class="table-inverse">
              <tr>
                  <th>Product</th>
                  <th>Department</th>
                  <th>Almacen</th>
                  <th>Oficina</th>
                  <th>Planta</th>
                  <th>Mant</th>
                  <th>Disi</th>
                  <th>Global Stock</th>
                  {% if request.user.is_staff %}
                  <th>Product Value</th>
                  <th>Global Value</th>
                  {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for moves in global_report %}
                <tr>
                  <td>{{ moves.name }} {{ moves.product_type }} {{ moves.size }} {{ moves.brand }}</td>
                  <td>{{ moves.department }}</td>
                  <td>{{ moves.stock_almacen }}</td>
                  <td>{{ moves.stock_oficina }}</td>
                  <td>{{ moves.stock_planta }}</td>
                  <td>{{ moves.stock_mante }}</td>
                  <td>{{ moves.stock_desin }}</td>
                  <td>{{ moves.stock }}</td>
                  {% if request.user.is_staff %}
                  <td>{{ moves.currency_format }}</td>
                  <td>{{ moves.product_value }}</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
<script>
  function printReport(){
    var prtContent = document.getElementById("print_div");
    var winPrint = window.open();
    winPrint.document.write("<link rel=\"stylesheet\" href=\"{% static 'bootstrap/css/bootstrap.css' %}\" />");
    winPrint.document.write("<div class=\"text-center\"><img src=\"{% static 'img/logo2.png' %}\" width=\"75%\"  height=\"35%\"/></div>");
    winPrint.document.write(prtContent.innerHTML);
    winPrint.document.close();
    setTimeout(function () {
      winPrint.focus();
      winPrint.print();
      winPrint.close();
    }, 1500);
  }
</script>
{% endblock %}
