{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}
  {% if date_report %}
  <form id="id_form" method="POST" class="form-control">
    {% csrf_token %}
    <div class="container-fluid text-center">
      <label class="btn btn-info"><span style="color: white;">IN / OUT </span>
      <input
        id="id_in_out"
        name="in_out"
        type="checkbox"
        checked
        autoComplete="off">
        Initial Date
        <input id="id_init_date" type="date" name="init_date" min="2017-09-01">
        End Date
        <input id="id_end_date" type="date" name="end_date">
        <select class="custom-select" id="id_location" name="location">
          {% for location in locations %}
            <option value="{{location}}"> {{ location }} </option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary btn-lg" value="Load">Submit</button>
        <a href="{% url 'reporte:home' %}" class="btn btn-danger btn-lg">Cancel</a>
      </label>
    </div>
    <div class="container-fluid text-center">
      <small>Checked = IN --------- Unchecked = OUT </small>
    </div>
  </form>

  
    <!--If it is an IN-->
    {% if status %}
    <br />
    <div class="text-center">
      <button type="button" class="btn btn-info btn-lg" onclick="printReport()">Print</button>
    </div>
    <br />
    <div id="print_div">
    <table class="table table-reponsive table-striped">
      <thead class="table-inverse">
        <th>Product</th>
        <th>Department</th>
        <th>Amount</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for moves in date_report %}
          <tr>
            <td>{{ moves.product_class.name }} {{ moves.product_class.product_type }} {{ moves.product_class.size }} {{ moves.product_class.brand }}</td>
            <td>{{ moves.product_class.department }}</td>
            <td>{{ moves.products.count }}</td>
            <td>{{ moves.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <!--If it is an Out-->
    <div id="print_div">
    <table class="table table-reponsive table-striped">
      <thead class="table-inverse">
        <th>Product</th>
        <th>Department</th>
        <th>Amount</th>
        <th>To</th>
        <th>Date</th>
      </thead>
      <tbody>
        {% for moves in date_report %}
          <tr>
            <td>{{ moves.product_class.name }} {{ moves.product_class.product_type }} {{ moves.product_class.size }} {{ moves.product_class.brand }}</td>
            <td>{{ moves.product_class.department }}</td>
            <td>{{ moves.products.count }}</td>
            <td>{{ moves.destiny }}</td>
            <td>{{ moves.date}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  {% else %}
  <form id="id_form" method="POST" class="form-control">
    {% csrf_token %}
    <div class="container-fluid text-center">
      <label class="btn btn-info"><span style="color: white;">IN / OUT </span>
      <input
        id="id_in_out"
        name="in_out"
        type="checkbox"
        checked
        autoComplete="off">
        Initial Date
        <input id="id_init_date" type="date" name="init_date" min="2017-09-01">
        End Date
        <input id="id_end_date" type="date" name="end_date">
        <select class="custom-select" id="id_location" name="location">
          {% for location in locations %}
            <option value="{{location}}"> {{ location }} </option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary btn-lg" value="Load">Submit</button>
        <a href="{% url 'reporte:home' %}" class="btn btn-danger btn-lg">Cancel</a>
      </label>
    </div>
    <div class="container-fluid text-center">
      <small>Checked = IN --------- Unchecked = OUT </small>
    </div>
  </form>
  {% endif %}
{% endblock %}

{% block extra_scripts %}
<script>
  function printReport(){
    var prtContent = document.getElementById("print_div");
    var winPrint = window.open();
    winPrint.document.write("<link rel=\"stylesheet\" href=\"{% static 'bootstrap/css/bootstrap.css' %}\" />");
    winPrint.document.write("<div class=\"text-center\"><img src=\"{% static 'img/logo2.png' %}\" width=\"75%\"  height=\"35%\"/></div>");
    winPrint.document.write(prtContent.innerHTML);
    winPrint.document.close();
    setTimeout(function () {
      winPrint.focus();
      winPrint.print();
      winPrint.close();
    }, 1500);
  }
</script>
{% endblock %}