{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}
{% if request.user.is_superuser %}
<div class="text-center form-group">
  <h3 class="display-3">Disposable and Disincorporated Products</h3>
</div>
<div id="root">
  <table class="table table-responsive table-striped">
    <thead class="thead-inverse text-center">
      <th>Product</th>
      <th>Department</th>
      <th>Amount</th>
      <th>Origin</th>
      <th>Location</th>
      <th>Date</th>
    </thead>
    <tbody>
      {% for moves in movements %}
        <tr>
          <td>{{ moves.product_class.name }} {{ moves.product_class.product_type }} {{ moves.product_class.size }} {{ moves.product_class.brand }}</td>
          <td>{{ moves.product_class.department }}</td>
          <td>{{ moves.products.count }}</td>
          <td>{{ moves.origin }}</td>
          <td>{{ moves.destiny }}</td>
          <td>{{ moves.date}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="text-center form-group">
  <h3 class="display-3">Productos Desechables o Desincorporados</h3>
</div>
<div id="root" class="container-fluid">
  <table class="table table-responsive table-striped">
    <thead class="thead-inverse text-center">
      <th>Nombre</th>
      <th>Tipo de Producto</th>
      <th>Tamaño o Talla</th>
      <th>Marca</th>
      <th>Departamento</th>
      <th>Cantidad</th>
      <th>Desde</th>
      <th>Hacia</th>
      <th>Fecha - Hora</th>
    </thead>
    <tbody>
      {% for moves in movements %}
        <tr>
          <td>{{ moves.product_class.name }}</td>
          <td>{{ moves.product_class.product_type }}</td>
          <td>{{ moves.product_class.size }}</td>
          <td>{{ moves.product_class.brand }}</td>
          <td>{{ moves.product_class.department }}</td>
          <td>{{ moves.products.count }}</td>
          <td>{{ moves.origin }}</td>
          <td>{{ moves.destiny }}</td>
          <td>{{ moves.date}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
