{% extends 'inventario/layout.html' %}
{% load staticfiles %}
{% block content %}
<form method="post" autocomplete="off">
  {% csrf_token %}
  <div class="text-center">
      <p class="form-errors">{{ form.errors|striptags }}</p>
    </div>
  <div id="root"></div>
  <div class="text-center" style="margin-top: 1rem;">
    <a class="btn btn-danger" href="{% url 'inventario:home' %}">Cancel</a>
  </div>
</form>
{% endblock %}

{% block extra_scripts %}
<script type="text/babel" src="{% static 'react/product_search.js' %}"></script>
<script type="text/babel">
    ReactDOM.render(
      <ProductList products={JSON.parse('{{ products | escapejs }}')}/>,
      document.getElementById('root')
    );
  </script>
{% endblock %}