{% extends 'base.html' %} 
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/loader.css' %}" >
{% endblock %}

{% block content %}
<br />
<h2> Agregar un Producto nuevo</h2>
<br />
<form method="POST">
{% csrf_token %}
<table class="table"> 
        {{ form.as_table }}
</table>
<button type="submit" class="btn btn-success"> Submit </button>
<a class="btn btn-danger" href="{% url 'rrhh:index' %}"> Cancel </a>
</form>
{% endblock %}

{% block extra_scripts %}

{% endblock %}