{% extends 'base.html' %} 
{% load staticfiles %} 
{% load humanize %}
{% block content %}

<br />
<div>
    <h3 class="text-center"> <strong>{{ employee.name }} {{ employee.last_name }} | Cedula: {{ employee.cedula | intcomma }}</strong> </h3>
</div>
<br />
<div class="text-center">
    <h4><strong>Fecha de Ingreso:</strong> {{ employee.fecha_de_ingreso }}</h4>
    <h4><strong>FAO: </strong> {% if employee.fao == True %} S&iacute; {% else %} No {% endif %} -  <strong>IVSS:</strong> {% if employee.ivss == True %} S&iacute; {% else %} No {% endif %}</h4>
    {% if user.is_staff %}
        <br />
        <h4><strong>Salario Base: </strong>{{ employee.salario | intcomma }} - <strong>Bono de Alimentaci&oacute;n: </strong>{{ employee.salario_comida | intcomma }}</h4>
        <h4><strong>Transporte: </strong>{{ employee.salario_transporte | intcomma}} - <strong>Bono: </strong>{{ employee.bono | intcomma }}</h4>
        <h4> <strong>Total: </strong> {{ total | intcomma }}</h4>
    {% endif %}
</div>
<div>
    <a class="btn btn-success" href="{% url 'rrhh:employee-list' %}"> Lista de Empleados </a>
</div>

<br />
<table id="table" class="table table-responsive table-hover table-bordered text-center">
        <thead>
            <tr>
                <th> Producto </th>
                <th> Tipo </th>
                <th> Fecha </th>
                <th> Cantidad </th>
                <th> Acciones </th>
            </tr>
        </thead>
        
        <tbody>
            {% for control in employee.employeecontrol_set.all %}
            <tr>
                <td> {{ control.product }} </td>
                <td> 
                    {% if control.type == 'I' %} 
                        <a style="color: green;"><strong><i class="fa fa-arrow-up" aria-hidden="true"></i></strong></a> 
                    {% else %}
                        <a style="color: red;"><strong><i class="fa fa-arrow-down" aria-hidden="true"></i></strong></a>
                    {% endif %}
                </td>
                <td> {{ control.date }} </td>
                <td> {{ control.amount }} </td>
                <!-- Actions -->
                <td>
                    <!-- Update -->
                    <a href="{% url 'rrhh:employee-control-update' pk=control.pk employee=employee.id%}" class="mr-1"
                        data-toggle="tooltip" data-placement="left" title="Editar Control" style="color: black;">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    
                    <!-- Remove -->
                    <a href="{% url 'rrhh:employee-control-remove' pk=control.pk %}" class="mr-1"
                        data-toggle="tooltip" data-placement="left" title="Remover Control" style="color: red;">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
        <tfoot>
            <tr>
                <th> Producto </th>
                <th> Tipo </th>
                <th> Fecha </th>
                <th> Cantidad </th>
                <th> Acciones </th>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function() {
        var table = $("#table").DataTable();

        $('[type=search]').on( 'keyup', function () {
            table.search( this.value ).draw();
        } );
    });
</script>
{% endblock extra_scripts %}