{% extends 'inventario/layout.html' %} 
{% load staticfiles %} 

{% block content %}
<h2 class="text-center"> Conyugue </h2>
<br />
<form id="form" method="post">
    {% csrf_token %}
    <!-- Informacion Personal -->
    <div class="text-center form-group row">
        <div class="col">
            <label for="id_employee"> ID del Empleado: </label>
            <select id="id_employee" name="employee">
                {% for emp in employee %}
                    <option value="{{ emp.pk }}">
                        {{emp.employee_id}}: {{emp.name}} {{emp.last_name}}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
            <label for="id_gender"> Gender: </label>
            <select id="id_gender" name="gender">
                <option value="M"> Masculino </option>
                <option value="F" selected > Femenino </option>
                <option value="O"> Otros </option>
            </select>
        </div>
    </div>
    <br />
    <div class="text-center form-group row">
        <div class="col">
            <label for="id_name"> Nombres: </label>
            <input id="id_name" name="name" required type="text" maxlength="128">
        </div>

        <div class "col">
            <label for="id_last_name"> Apellidos: </label>
            <input id="id_last_name" name="last_name" required type="text" maxlength="128">
        </div>

        <div class="col">
            <label for="id_cedula"> Cedula: </label>
            <input id="id_cedula" name="cedula" required type="number" min="1">
        </div>
    </div>
    <br />
    <div class="text-center form-group row">
        <div class="col">
            <label for="id_birthdate"> Fecha De Nacimiento: </label>
            <input id="id_birthdate" name="birthdate" required type="date">
        </div>

        <div class="col">
            <label for="id_home_phone">Telefono Movil:</label>
            <input id="id_mobile_phone" name="mobile_phone" type="text" required maxlength="40">
        </div>
    </div>
    <br />

    <div class="text-center row">
        <input class="col" type='submit' value='submit this shit nigga' />
    </div>
</form>
{{object_list}} 
{% endblock %}