{% extends 'base.html' %} 
{% load staticfiles %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/loader.css' %}" >
{% endblock %}

{% block content %}
<br />
<form id="form" method="post">
     {% csrf_token %}
    <div class="container-fluid" id="root">
        <header class="text-center major">
            <h2>Cargando...</h2>
        </header>
        <div class="text-center" style="margin-top: 100px;">
            <div id="loader" ></div>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_scripts %}
<script type="text/babel" src="{% static 'react/rrhh/employee-create.jsx' %}"></script>
{% endblock %}