{% extends 'base.html' %} 
{% load staticfiles %} 


{% block content %}
<br />
<div class="row">
    <div class="col-12">
        Confirm deletion of <i>"{{ object.name }} {{ object.last_name }} {{ object.cedula }}"</i>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <form action="" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Yes, delete "{{ object.name }} {{ object.last_name }} {{ object.cedula }}"</button>
        </form>
    </div>
</div>
{% endblock %}