{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}
<form id="id_form" method="post">
  {% csrf_token %}
  {% if request.user.staff %}
  <div class="jumbotron">
    <h3 class="display-3 text-center">Create an User</h3>
  </div>
  {% enif %}
  <div class="jumbotron">
    <h3 class="display-3 text-center">Crear un Nuevo Usuario</h3>
  </div>
  <div id="root"></div>
</form>
{% endblock %}

{% block extra_scripts %}
<script type="text/babel" src="{% static 'react/user_create_control.js' %}"></script>
{% endblock %}
