{% extends 'inventario/layout.html' %}
{% load staticfiles %}

{% block content %}
  {% if product_report %}
    <form id="id_form" method="post" autocomplete="off">
      {% csrf_token %}
      <div id="root"> </div>
      <div class="text-center" style="margin-top: 1rem;">
        <button type="submit" class="btn btn-primary btn-lg" value="Load">Submit</button>
        <a class="btn btn-danger btn-lg" href="{% url 'reporte:home' %}">Cancel</a>
        <button type="button" class="btn btn-info btn-lg" onclick="printReport()">Print</button>
      </div>
        <div id="print_div">
          <table class="table table-reponsive table-striped">
            <h1>IN</h1>
            <thead class="table-inverse">
              <th>Product</th>
              <th>Department</th>
              <th>Amount</th>
              <th>Date</th>
            </thead>
            <tbody>
              {% for moves in entrance %}
                <tr>
                  <td>{{ moves.product_class.name }} {{ moves.product_class.product_type }} {{ moves.product_class.size }} {{ moves.product_class.brand }}</td>
                  <td>{{ moves.product_class.department }}</td>
                  <td>{{ moves.products.count }}</td>
                  <td>{{ moves.date }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <table class="table table-reponsive table-striped">
            <h1>OUT</h1>
            <thead class="table-inverse">
              <th>Product</th>
              <th>Department</th>
              <th>Amount</th>
              <th>From</th>
              <th>To</th>
              <th>Date</th>
            </thead>
            <tbody>
              {% for move in movement %}
                <tr>
                  <td>{{ move.product_class.name }} {{ move.product_class.product_type }} {{ move.product_class.size }} {{ move.product_class.brand }}</td>
                  <td>{{ move.product_class.department }}</td>
                  <td>{{ move.products.count }}</td>
                  <td>{{ move.origin }}</td>
                  <td>{{ move.destiny }}</td>
                  <td>
                    <a href="#" onclick="showModal('{{ move.pk }}')">
                      {{ move.date }}
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </form>
  {% else %}
    <form id="id_form" method="post" autocomplete="off">
      {% csrf_token %}
      <div id="root" class="container-fluid">

      </div>
      <div class="text-center" style="margin-top: 1rem;">
        <button type="submit" class="btn btn-primary btn-lg" value="Load">Submit</button>
        <a class="btn btn-danger btn-lg" href="{% url 'reporte:home' %}">Cancel</a>
      </div>
    </form>
  {% endif %}

  <!--Modal Move Out Detail -->
  <div id="id_modal_move" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">Move Out Detail</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="id_modal_body" class="modal-body">
          <!--Modal Body -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extra_scripts %}
<script type="text/babel" src="{% static 'react/reporte/product_control.js' %}"></script>
<script type="text/babel">
    ReactDOM.render(
      <ProductList products={JSON.parse('{{ products | escapejs }}')}/>,
      document.getElementById('root')
    );
      function printReport(){
        var prtContent = document.getElementById("print_div");
        var winPrint = window.open();
        winPrint.document.write("<link rel=\"stylesheet\" href=\"{% static 'bootstrap/css/bootstrap.css' %}\" />");
        winPrint.document.write("<div class=\"text-center\"><img src=\"{% static 'img/logo2.png' %}\" width=\"75%\" height=\"35%\"/></div>");
        winPrint.document.write("<div class=\"text-center\"><h2 class=\"display-4\">Product History</h2></div>");
        winPrint.document.write(prtContent.innerHTML);
        winPrint.document.close();
        setTimeout(function () {
          winPrint.focus();
          winPrint.print();
          winPrint.close();
        }, 1500);
      }
  </script>

  <script type="text/babel" src="{% static 'react/reporte/move_out_details_control.js' %}"></script>
{% endblock %}
